<template name="photogrid">

  <!-- Photo Grid -->
<div class="w3-row" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third">
      {{#each memoriesCol1}}
      <img src="{{url}}" style="width:100%">
      {{/each}}
  </div>

  <div class="w3-third">
      {{#each memoriesCol2}}
      <img src="{{url}}" style="width:100%">
      {{/each}}
  </div>

  <div class="w3-third">
      {{#each memoriesCol3}}
      <img src="{{url}}" style="width:100%">
      {{/each}}
  </div>
</div>

</template>