<template name="photogrid">

  <div class="contentGrid">
    <!-- Photo Grid -->
    <div class="w3-row" id="myGrid">
      <div class="w3-third">
        {{#each memoriesCol 0 }}

        <div class="outer">
          <div class="inner">
            <img src="{{url}}" alt="img09" />
            <div class="figcaption">
              <h2><span>{{name}}</span></h2>
              <p><b>{{title}}</b><br>{{msg}}</p>
              <a href="#">View more</a>
            </div>
          </div>
        </div>
        {{#if showDelBtn }}

        <div class="w3-row w3-margin">
          <div class="w3-col w3-margin" style="width:70px"><a data-picdelbtn="{{_id}}" class="delBtn disabledButton"
              href="#">
              <i class="fa fa-trash-o fa-2x w3-cell w3-cell-middle"></i>
            </a></div>
          <div class="w3-rest w3-margin">
            <input data-pic="{{_id}}" class="w3-input w3-border delPwd" placeholder="Dein Löschpasswort"
              type="password">
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>

      <div class="w3-third">
        {{#each memoriesCol 1}}
        <div class="outer">
          <div class="inner">
            <img src="{{url}}" alt="img09" />
            <div class="figcaption">
              <h2><span>{{name}}</span></h2>
              <p><b>{{title}}</b><br>{{msg}}</p>
              <a href="#">View more</a>
            </div>
          </div>
        </div>
        {{#if showDelBtn }}

        <div class="w3-row w3-margin">
          <div class="w3-col w3-margin" style="width:70px"><a data-picdelbtn="{{_id}}" class="delBtn disabledButton"
              href="#">
              <i class="fa fa-trash-o fa-2x w3-cell w3-cell-middle"></i>
            </a></div>
          <div class="w3-rest w3-margin">
            <input data-pic="{{_id}}" class="w3-input w3-border delPwd" placeholder="Dein Löschpasswort"
              type="password">
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>

      <div class="w3-third">
        {{#each memoriesCol 2}}
        <div class="outer">
          <div class="inner">
            <img src="{{url}}" alt="img09" />
            <div class="figcaption">
              <h2><span>{{name}}</span></h2>
              <p><b>{{title}}</b><br>{{msg}}</p>
              <a href="#">View more</a>
            </div>
          </div>
        </div>
        {{#if showDelBtn }}

        <div class="w3-row w3-margin">
          <div class="w3-col w3-margin" style="width:70px"><a data-picdelbtn="{{_id}}" class="delBtn disabledButton"
              href="#">
              <i class="fa fa-trash-o fa-2x w3-cell w3-cell-middle"></i>
            </a></div>
          <div class="w3-rest w3-margin">
            <input data-pic="{{_id}}" class="w3-input w3-border delPwd" placeholder="Dein Löschpasswort"
              type="password">
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</template>