<template name="photogrid">

  <div class="contentGrid">
    <!-- Photo Grid -->
    <div class="w3-row" id="myGrid">
      <div class="w3-third">
        {{#each memoriesCol1 }}

        <div class="outer">
          <div class="inner">
            <img src="{{url}}" alt="img09" />
            <div class="figcaption">
              <h2><span>{{name}}</span></h2>
              <p><b>{{title}}</b><br>{{msg}}</p>
              <a href="#">View more</a>
            </div>
          </div>
        </div>
        {{#if showDelBtn }}
        <div class="w3-margin">
          <div class="w3-container w3-cell w3-cell-middle"><input id="delPwd" class="w3-input w3-border"
              placeholder="Dein Löschpasswort" type="password"></div>
          <div class="w3-container w3-cell w3-cell-middle"><a class="delBtn w3-bar-item redButton w3-margin" href="#"><i
                class="fa fa-trash-o fa-2x" style="margin:5px" data-pic="{{_id}}"></i></a></div>
        </div>
        {{/if}}
        {{/each}}
      </div>

      <div class="w3-third">
        {{#each memoriesCol2}}
        <div class="outer">
          <div class="inner">
            <img src="{{url}}" alt="img09" />
            <div class="figcaption">
              <h2><span>{{name}}</span></h2>
              <p><b>{{title}}</b><br>{{msg}}</p>
              <a href="#">View more</a>
            </div>
          </div>
        </div>
        {{#if showDelBtn }}
        <a class="redButton w3-margin" href="#"><i class="fa fa-trash-o fa-2x" style="margin:5px"
            data-pic="{{_id}}"></i></a>
        {{/if}}
        {{/each}}
      </div>

      <div class="w3-third">
        {{#each memoriesCol3}}
        <div class="outer">
          <div class="inner">
            <img src="{{url}}" alt="img09" />
            <div class="figcaption">
              <h2><span>{{name}}</span></h2>
              <p><b>{{title}}</b><br>{{msg}}</p>
              <a href="#">View more</a>
            </div>
          </div>
        </div>
        {{#if showDelBtn }}
        <a class="redButton w3-margin" href="#"><i class="fa fa-trash-o fa-2x" style="margin:5px"
            data-pic="{{_id}}"></i></a>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</template>